<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />*@
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" asp-href-include="~/lib/fontawesome/css/*.css" />*@
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script asp-src-include="lib/jquery/**/jquery.min.js">
    </script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js">
    </script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js">
    </script>
</head>
<body class="panel panel-default">
    <div class="panel-heading">
        <h4>
            @ViewBag.Title
            @*кнопка выхода из приложения - разлогинивание*@ 
            <a class="btn btn-sm btn-primary pull-right"
               asp-action="Logout" asp-controller="Account">Log Out</a>
        </h4>
    </div>
    <div class="panel-body">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>

@*TempData- Преимущество такой работы с сообщением внутри компоновки заключается в том,
                    что пользователи будут видеть его на любой странице, визуализированной после сохра ­
                    нения изменений. В данный момент мы возвращаем его списку товаров, но рабочий поток
                    можно изменить с целью визуализации какого-то другого представления, и пользователи
                    будут по-прежнему видеть это сообщение (при условии, что следующее представление
                    использует ту же самую компоновку).
                //-----------------------------------------

                    Определенный здесь стиль ( к .input-validation-error) CSS выбирает элементы, которые являются членами
                класса input-validation-error, и устанавливает для них границу красного цвета
                фон .
                Явная установка стилей при использовании библиотеки CSS, подобной Bootstrap,
                может привести к несоответствиям, когда применяются темы содержимого . В главе 27
                будет продемонстрирован альтернативный подход , при котором для применения классов
                Bootstrap к элементам с сообщениями об ошибках проверки достоверности используется
                код JavaScript, сохраняя все в согласованном состоянии.
            --------------------------------------------------------------------
                В доб авл е нной разме тке для выбор а файлов, которые включаются в элементы
            s cript, применяется дескрипторный вспомогательный класс. Работа этого процес ­
            са объясняется в глав е 25. Он позволяет использовать групповые символы для выбо­
            ра файлов JavaScript, а это означает, что приложение н е ра зрушится в случае , если
            имена файлов в пакете Bower изменятся, когда выйдет его новая версия. Однако тре­
        буется определенная осторожность, потому что (как будет показано в главе 25) до­
        вольно легко выбрать не те файлы, которые ожидались.
        Включение проверки достоверности на стороне клиента не приводит к каким-либо
        визуальным изменениям, но ограничения, которые указаны с помощью атрибутов,
        примененных к классу модели С#, вступают в силу на уровне браузера, пр едотвращая
        отправку пользователем формы с недопустимыми данными и обеспечивая немедлен­
        ный отклик при наличии проблемы. За дополнительными сведениями обращайтесь
        в главу 27.
    //---------------------------------------------------------------------------
       также добавить кнопку Log Out (Выход). которая позволит текущему
    пользователю выходить из приложения за счет отправки запроса действию Logout
    (листинг 12 .11). Это удобное средство, облегчающее тестирование приложения, без
    которого пришлось бы очищать сооkiе-наборы браузера , чтобы возвращаться в состо­
    яние, кгда аутентификация еще не прошла. но мы эту кнопку размещаем не в Login.schtml папки 
    Views/Account 
*@
