@*представление для конроллера Error*@

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2 class="text-danger">Error</h2>
    <h3 class="text-danger">An Error occured while processing your request.</h3>
</body>
</html>

@*Страница ошибки подобного рода является последним ресурсом , поэтому ее луч­
ше сохранить как можно более простой и не полагаться на разделяемые компоновки,
компоненты представлений или другие многофункциональные средства. В данном
случае мы отключаем разделяемые компоновки и определяем простой НТМL-документ
с сообщением о возникновении ошибки, не предоставляя никакой информации о том,
                                                             что произошло.*@ 